#first{
    text-align: center;
    color:mintcream;
    padding: 5%;
    margin:auto;
}

.second-line {
    height: auto;
    width:10cm
}

.one-line {
    background-image: url(/pexels-knownasovan-57690.jpg);
    height:50rem;
    background-position:center ;
    text-align: center;
    align-items: center;
   
}
#user {
    display:block;
    width:30rem;
    height:2rem;
    box-sizing:border-box;
    position: relative;
    left: 90%;    

    
}

#date {
    display: block;
    width:30rem;
    height:2rem;
    box-sizing: border-box;
    position: relative;
    left:90%;
    

}

#message {
    display: block;
    width: 30rem;
    height: 3rem;
    box-sizing: content-box;
    position: relative;
    left:90%;
    

}

#tasks {
    display: block;
    width: 30rem;
    height:2rem;
    position: relative;
    left:90%;
    

}

#one-button {
    padding: 1rem;
    background:darkslategray;
    border: none;
    color:mintcream;
    cursor: pointer;
    width:30rem;
    position: relative;
    left:90%
}

.task.list {

    border:1px solid;
    padding: 10px;
}